body {
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100vh;
	width: 100vw;
}

#map {
				position: absolute;
				z-index: 998;
			
			}

#states-popup {
	font-size: 2em;
}

#button-div {
				position: absolute;
				margin: 0 auto;
				left: 40%;
				z-index: 999;
			
			}

			button {
			    background-color: #43a2ca;
			    color: white;
			    padding: 16px 32px;
			    text-align: center;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 16px;
			    margin: 4px 2px;
			    -webkit-transition-duration: 0.4s; 
			    cursor: pointer;
			    border-radius: 5px;
			}

			 button:hover {
			    background-color: #e0f3db;
			    color: black;
			}